$growth-tools-green: #2cd886;
$university-green: #8cc63f;
$drip-scripts-green: #17da5e;
$goviral-orange: #ff7727;
$welcomely-pink: #ef4b54;
$attract-blue: #0974f0;
$accelerator-blue: #009aff;
$growth-tools-gold: #ffd400;
$growth-tools-navy-blue: #161f5d;

$white: #ffffff;

// Brand Greys
$grey-01: #f9fafa;
$grey-02: #eceff1;
$grey-03: #cfd8dc;
$grey-04: #b0bec5;
$grey-05: #90a4ae;
$grey-06: #78909c;
$grey-07: #607d8b;
$grey-08: #546e7a;
$grey-09: #455a64;
$grey-10: #37474f;
$grey-11: #263238;
