@import "utilities.scss";

header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

header h1 {
  max-width: 1200px;
  transform: translateY(-50px);
  opacity: 0;
  transition: all ease-in 1s;
}
header h1.shown {
  opacity: 1;
  transform: translateY(0px);
}

.chevron {
  position: absolute;
  bottom: 2rem;
  color: lightgrey;
  opacity: 0;
  transition: all ease-in 1s;
}
.chevron.shown {
  opacity: 1;
}

.style-guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  h2 {
    font-size: 3rem;
    padding: 2rem 3rem;
    margin: 0;
  }
}

.types {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.types h5 {
  margin-left: 5rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  min-width: 101px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  box-sizing: border-box;
}

.primary {
  border-radius: 6px;
  height: 48px;
}

.secondary {
  border-radius: 6px;
  height: 48px;
}

.tertiary {
  border-radius: 4px;
  height: 32px;
}

.checkmark {
  height: 24px;
  width: 24px;
  padding-right: 0.25rem;
  margin-left: -9px;
  background-image: url("./check.svg");
}

.primary.pressed {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.tertiary.hover {
  box-shadow: none;
}

.tertiary.focus {
  display: none;
}

.tertiary.pressed {
  display: none;
}

.tertiary.disabled {
  box-shadow: none;
}

.disabled {
  opacity: 0.2;
}

.growthTools {
  @include brandColor($white, $growth-tools-green, $growth-tools-green);
}
.growthUniversity {
  @include brandColor($white, $university-green, $university-green);
}
.dripScripts {
  @include brandColor($white, $drip-scripts-green, $drip-scripts-green);
}
.goViral {
  @include brandColor($white, $goviral-orange, $goviral-orange);
}
.welcomely {
  @include brandColor($white, $welcomely-pink, $welcomely-pink);
}
.attract {
  @include brandColor($white, $attract-blue, $attract-blue);
}
.accelerators {
  @include brandColor($white, $accelerator-blue, $accelerator-blue);
}
