.last-weeks-wins-section {
  background: linear-gradient(134.8deg, #263238 0%, #37474f 100%);
  color: white;
  height: 100vh;
  transition: 500ms ease-in-out all;
  position: relative;
}

.last-weeks-wins-section h2 {
  transition: 500ms ease-in-out all;
  font-size: 3rem;
  padding: 2rem 3rem;
  margin: 0;
}

.last-weeks-wins-section img.shot {
  position: absolute;
  top: 15%;
  border: 1rem solid white;
  border-bottom: 3rem solid white;
  border-radius: 5px;
  transform: rotate(30deg);
  opacity: 0;
  transition: 700ms ease-in-out all;
  max-width: 600px;
  max-height: 400px;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.08);
}

.last-weeks-wins-section img.shot:hover {
  z-index: 10;
}

.last-weeks-wins-section img.shot.shown {
  opacity: 1;
}

.last-weeks-wins-section img.shot-0.shown {
  transform: rotate(23deg);
  top: 35%;
  left: 120px;
}

.last-weeks-wins-section img.shot-1.shown {
  transform: rotate(-25deg);
  top: 32%;
  left: 300px;
  transition-delay: 500ms;
}

.last-weeks-wins-section img.shot-2.shown {
  transform: rotate(35deg);
  top: 34%;
  left: 500px;
  transition-delay: 1500ms;
}

.last-weeks-wins-section img.shot-3.shown {
  transform: rotate(-24deg);
  top: 35%;
  right: 90px;
  transition-delay: 2000ms;
}

.last-weeks-wins-section img.shot-4.shown {
  transform: rotate(14deg);
  top: 39%;
  right: 250px;
  transition-delay: 2600ms;
}

.last-weeks-wins-section img.shot-5.shown {
  top: 20%;
  transform: rotate(-18deg);
  right: 400px;
  transition-delay: 3100ms;
}
